# Breast classification and Bra Size prediction

## Import libraries

In [26]:
from sklearn import preprocessing 
from sklearn.model_selection import train_test_split
import matplotlib.pyplot as plt
import cv2

import pandas as pd 
import numpy as np

import os

## Load image datas with labels

In [27]:
def extract_label(img_path, flag):
    filename, extension = os.path.splitext(os.path.basename(img_path))
    
    subject_id, etc = filename.split("__") # 2 underscore
    bra = 0
    
    if flag:
        breast_size, waist_size, band_size, cup_size, with_bra = etc.split('_')        

        if with_bra == 'true':
            bra = 1
        else:
            bra = 0

        return np.array([subject_id, breast_size, waist_size, band_size, cup_size, bra])
    else:
        breast_size, waist_size, band_size, cup_size = etc.split('_')
        return np.array([subject_id, breast_size, waist_size, band_size, cup_size, bra])

In [28]:
bra_path = "./dataset/with_bra"
without_bra_path = "./dataset/without_bra"

img_size = 192

with_bra_data = []
with_out_bra_data = []

In [32]:
# without bra
for image in os.listdir(without_bra_path):
    img = cv2.imread(os.path.join(without_bra_path, image), cv2.IMREAD_COLOR)
        
    # flag = 0 -> no bra
    # flag = 1 -> has bra
    label = extract_label(os.path.join(without_bra_path, image), False)

    with_out_bra_data.append([label[0], label[1], label[2], label[3], label[4], label[5], img])

In [33]:
#with bra
for image in os.listdir(bra_path):
    img = cv2.imread(os.path.join(bra_path, image), cv2.IMREAD_COLOR)
        
    label = extract_label(os.path.join(bra_path, image), True)
    
    # flag = 0 -> no bra
    # flag = 1 -> has bra
    with_bra_data.append([label[0], label[1], label[2], label[3], label[4], label[5], img])

### Convert image arry to np array

In [50]:
np_with_bra_data= np.array(with_bra_data, dtype="object")
np_with_out_bra_data = np.array(with_out_bra_data, dtype="object")

#concatenating through column(axis = 0)
np_data = np.concatenate((np_with_bra_data, np_with__out_bra_data), 0)

In [54]:
print(np_with_bra_data.shape)

(200, 7)

In [55]:
print(np_with_out_bra_data.shape)

(330, 7)

In [56]:
print(np_data.shape)

(530, 7)

### Convert numpy array to dataframe

In [57]:
dataframe = pd.DataFrame(np_data)

In [61]:
dataframe.head(2)

,0,1,2,3,4,5,6
0,10_dani_daniels,34,24,34,d,1,"[[[0, 220, 188], [6, 221, 190], [15, 212, 186]..."
1,10_eva_elfie,36,26,34,cc,1,"[[[253, 253, 253], [253, 253, 253], [253, 253,..."

## Pre-process data

In [63]:
dataframe[5].values

array(['1', '1', '1', '1', '1', '1', '1', '1', '1', '1', '1', '1', '1',
       '1', '1', '1', '1', '1', '1', '1', '1', '1', '1', '1', '1', '1',
       '1', '1', '1', '1', '1', '1', '1', '1', '1', '1', '1', '1', '1',
       '1', '1', '1', '1', '1', '1', '1', '1', '1', '1', '1', '1', '1',
       '1', '1', '1', '1', '1', '1', '1', '1', '1', '1', '1', '1', '1',
       '1', '1', '1', '1', '1', '1', '1', '1', '1', '1', '1', '1', '1',
       '1', '1', '1', '1', '1', '1', '1', '1', '1', '1', '1', '1', '1',
       '1', '1', '1', '1', '1', '1', '1', '1', '1', '1', '1', '1', '1',
       '1', '1', '1', '1', '1', '1', '1', '1', '1', '1', '1', '1', '1',
       '1', '1', '1', '1', '1', '1', '1', '1', '1', '1', '1', '1', '1',
       '1', '1', '1', '1', '1', '1', '1', '1', '1', '1', '1', '1', '1',
       '1', '1', '1', '1', '1', '1', '1', '1', '1', '1', '1', '1', '1',
       '1', '1', '1', '1', '1', '1', '1', '1', '1', '1', '1', '1', '1',
       '1', '1', '1', '1', '1', '1', '1', '1', '1', '1', '1', '1', '1',
       '1', '1', '1', '1', '1', '1', '1', '1', '1', '1', '1', '1', '1',
       '1', '1', '1', '1', '1', '0', '0', '0', '0', '0', '0', '0', '0',
       '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0',
       '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0',
       '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0',
       '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0',
       '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0',
       '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0',
       '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0',
       '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0',
       '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0',
       '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0',
       '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0',
       '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0',
       '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0',
       '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0',
       '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0',
       '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0',
       '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0',
       '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0',
       '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0',
       '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0',
       '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0',
       '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0',
       '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0',
       '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0',
       '0', '0', '0', '0', '0', '0', '0', '0', '0', '0'], dtype=object)

In [ ]:
imgplot = plt.imshow(dataframe[6][400])
plt.show()